body{
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(234, 224, 204);
}

.heading-primary-main{
    display: block;
    animation-name: moveInLeft;
    animation-duration:3s;
    animation-timing-function: ease-out;
    display: block;
    background-color: white;
    color: rgb(139, 0, 0);
    padding: 2rem;
    margin: 1rem auto;
    width: 800px;
    height: 400px;
}

.btn-start{
    width: 800px;
    height: 400px;
    background-image:url("../img/102-1024013_minecraft-sign-png-blank-sign-transparent.jpg");
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-1000px);
    }
    
    80%{
        transform: translateX(20px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
};
